<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<!--以前：拼字符串innerHTML-->
<!---vue提供一个指令 v-for 解决循环问题 更高效 会复用原有的结构-->
<div id="app">
    <!--要循环谁就在谁身上增加v-for属性-->
    <!--默认是value in 数组 （value，index） in 数组-->
    <ul>
        <li v-for="(fruit,index) in fruits">{{fruit.name}}{{index+1}}
            <ul>
                <li v-for="(c,childIndex) in fruit.color">
                    {{index+1}}.{{childIndex+1}}{{c}}
                </li>
            </ul>
        </li>
    </ul>
    <div v-for="(value,key,index) in obj">{{key}}:{{value}}:{{index}}</div>
</div>
<script src="./node_modules/vue/dist/vue.js"></script>
<script>
    let vm = new Vue({
        el: '#app',

        data: {
            obj:{name: 'hello',age: 9, address: 'xxx'
            },
            fruits: [{name:"香蕉",color:['green','yellow']},
                {name:'苹果',color:['red','yellow','green']},
                {name:'西瓜',color:['green','yellow']}]
        }
    })
</script>
</body>
</html>